{% macro dump_applications(applications) -%}
{%- for item in applications %}
{{ caller(item) }}{%- endfor %}
{%- endmacro %}
Application ID           | Name 
-------------------------+------------------------------------------{% call(item) dump_applications(results) %}{{ item.id }} | {{ item.name }}{% endcall %}
