Scope ID                 | Name 
-------------------------+------------------------------------------
{% macro dump_scopes(scopes) -%}
{%- for item in scopes %}
{{ caller(item) }}{%- endfor %}
{%- endmacro %}
{%- call(item) dump_scopes(results) -%}
{{ item.id }} | {{ item.name }}
{%- endcall %}

