User ID                  | Name 
-------------------------+------------------------------------------
{% macro dump_users(users) -%}
{%- for item in users %}
{{ caller(item) }}{%- endfor %}
{%- endmacro %}
{%- call(item) dump_users(results) %}
{{ item.id }} | {{ item.email }}
{%- endcall %}

